<<<<<<< HEAD
.about{
    background-image: linear-gradient(50deg,rgba(15, 66, 107, 0.842),rgba(35, 13, 235, 0.568));
    color:white;
    padding: 0% 20%;
}
.myself,.edu{
    display: flex;
    align-items:flex-start;
    flex:1;
    box-sizing: border-box;
}
.edu{
    height:max-content;
    justify-content: space-between;
    align-items: stretch;
}
.myself img{
    height:40vh;
    margin:10px;
}
.myself span::first-letter{
    font-size: 3rem;
}
.myself p{
    padding-top:0.5em;
    display: flex;
    font-size: 2em;
    justify-content: center;
    align-items: center;
}
.about h1{
    margin-top: 0px;
    text-align: center;
    font-size: 2em;
    padding-top: 10px;
}
.education h2{
    text-align: center;
}
.edu div{
   box-shadow: 5px 8px 8px black;
   background-image:linear-gradient(20deg,rgb(22, 42, 70),rgb(22, 42, 70),rgb(137, 188, 230),rgb(25, 38, 73));
    color:white;
    font-size: 1.2em;
    opacity: 90%;
    width:30%;
    padding:20px;
    height:auto;
    box-sizing: border-box;
}
.edu div:hover{
    cursor:pointer;
    background-image:linear-gradient(30deg,rgb(7, 19, 36),rgb(9, 25, 47),rgb(25, 134, 223),rgb(25, 38, 73));
}
.edu h4{
    text-align: center;
}
@media screen and (max-width:768px) {
    .about{
        padding: 0%;
    }
    .myself,.edu{
        flex-direction:column;
        font-size: 10px;
        align-items:center;
        justify-content: center;
    }
    .myself p{
        padding: 5%;
    }
    .edu{
        width: 100%;
        height:max-content;
        margin-bottom: 5vh;
        box-sizing: border-box;
        padding: 20px;
    }
    .edu div{
        width:100%;
        
        margin-top: 5vh;
        font-size: 1.5em;
    }
=======
.about{
    background-image: linear-gradient(50deg,rgba(15, 66, 107, 0.842),rgba(35, 13, 235, 0.568));
    color:white
}
.myself,.edu{
    display: flex;
    align-items:flex-start;
    flex:1;
    box-sizing: border-box;
    margin :0px 15%;
}
.edu{
    height:auto;
    justify-content: space-between;
}
.myself img{
    height:40vh;
    margin:10px;
}
.myself span::first-letter{
    font-size: 3rem;
}
.myself p{
    padding-top:0.5em;
    display: flex;
    font-size: 2em;
}
.about h1{
    margin-top: 0px;
    text-align: center;
    font-size: 2em;
    padding-top: 10px;
}
.education h2{
    text-align: center;
}
.edu div{
   box-shadow: 5px 8px 8px black;
    background-image:linear-gradient(20deg,rgb(22, 42, 70),rgb(22, 42, 70),rgb(137, 188, 230),rgb(25, 38, 73));
    color:white;
    font-size: 1.2em;
    opacity: 90%;
    height:auto;
    width:30%;
    padding:20px;
    box-sizing: border-box;
}
.edu div:hover{
    cursor:pointer;
    background-image:linear-gradient(30deg,rgb(7, 19, 36),rgb(9, 25, 47),rgb(25, 134, 223),rgb(25, 38, 73));
}
.edu h4{
    text-align: center;
}
@media screen and (max-width:768px) {
    .myself,.edu{
        flex-direction:column;
        font-size: 10px;
        margin:0px 5%;
        align-items:center;
    }
    .edu{
        height:auto;
        margin-bottom: 5vh;
    }
    .edu div{
        width:inherit;
        margin-top: 5vh;
        font-size: 1.5em;
    }
>>>>>>> 37735aed0af34cb62df9688bdc4e0667309cea75
}