.about{
    /* background-image: linear-gradient(50deg,rgba(15, 66, 107, 0.842),rgba(35, 13, 235, 0.568)); */
    background: linear-gradient(45deg ,#17215693,#00000093,#17215693);
    border-radius: 20px;
    box-shadow: 1px 1px 10px #171c3793;
    color:white;
    padding: 0% 20%;
    margin-top: 20px;
    margin-bottom: 20px;
}
.myself,.edu{
    display: flex;
    /* align-items:flex-start;
    flex:1; */
    box-sizing: border-box;
}
.myself{
        align-items:center;
}
.edu{
    height:max-content;
    justify-content: space-between;
    align-items: stretch;
}
.myself span::first-letter{
    font-size: 3rem;
}
.image{
    margin: 20px;
    width: 50%; 
    height: 30vh;
}
.image img{
    height: 100%;
    object-fit: contain;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.myself p{
    font-size: 2em;
}
.about h1{
    margin-top: 0px;
    text-align: center;
    font-size: 2em;
    padding-top: 10px;
}
.education h2{
    text-align: center;
}
.edu div{
   box-shadow: 5px 8px 8px black;
   background-image:linear-gradient(20deg,rgb(22, 42, 70),rgb(22, 42, 70),rgb(137, 188, 230),rgb(25, 38, 73));
    color:white;
    font-size: 1.2em;
    opacity: 90%;
    width:30%;
    padding:20px;
    height:auto;
    box-sizing: border-box;
}
.edu div:hover{
    cursor:pointer;
    background-image:linear-gradient(30deg,rgb(7, 19, 36),rgb(9, 25, 47),rgb(25, 134, 223),rgb(25, 38, 73));
}
.edu h4{
    text-align: center;
}
@media screen and (max-width:768px) {
    .about{
        padding: 0%;
    }
    .myself,.edu{
        flex-direction:column;
        font-size: .7em;
        align-items:center;
        justify-content: center;
    }
    .myself p{
        padding: 5%;
    }
    .edu{
        width: 100%;
        height:max-content;
        margin-bottom: 5vh;
        box-sizing: border-box;
        padding: 20px;
    }
    .edu div{
        width:100%; 
        margin-top: 5vh;
        font-size: 1.5em;
    }
}