<<<<<<< HEAD
.codingskills h1{
    color:white;
    text-align: center;
    font-size: 2em;
    letter-spacing: 5px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 5%;
}
.codingskills {
    height: max-content;
    display: block;
    box-sizing: border-box;
    
}
.skills{
    background-image:linear-gradient(rgba(3, 3, 1, 0.8),rgba(0, 0, 150, 0.6));
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: center;  
    box-sizing: border-box;
    padding: 5%;
} 
.codingskills h2 {
    color:black;
    display:inline-block;
}
.codingskills img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}
.codingskills legend{
    color:beige;
    font-size: 1em;

}
.programming{
    box-sizing: border-box;
    height: 50vh;
    align-content: space-around;
    justify-content: space-around;
    flex-wrap: wrap;
    display: flex;
}
.programming div{
    width: 20vw;
    padding: 25px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    background-image: linear-gradient(rgba(2,2,2,.5),rgba(0,0,0,.5));
    align-items: center;
    justify-content: center;
    box-shadow: 5px 5px 10px black;
    border-radius: 0.7rem;
}
.programming div:hover{
    background-image: linear-gradient(rgba(2,2,2,.8),rgba(0,0,0,.7));
    border-bottom:1px solid  aquamarine;
    border-left:1px solid  yellow;
    border-right:1px solid  lightgreen;
    border-top:1px solid  red;
    animation-name: colours;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction:initial;
}
@keyframes colours {
    25%{border-bottom:1px solid  yellow;
        border-left:1px solid  lightgreen;
        border-right:1px solid  red;
        border-top:1px solid aquamarine;}
    75%{border-bottom:1px solid  red;
        border-left:1px solid  lightgreen;
        border-right:1px solid  aquamarine;
        border-top:1px solid yellow;}
    100%{border-bottom:1px solid yellow;
        border-left:1px solid  red;
        border-right:1px solid  aquamarine;
        border-top:1px solid  lightgreen;}
    
}
@media screen and (max-width:768px){
    .programming{
        padding:10px;
        height: max-content;
        width: 100%;
        flex-wrap: wrap;
        flex-direction: row;
        display: flex;
        margin: auto;
        justify-content: space-around;
    }
    .programming div{
        width: 40%;
        margin: 10px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .skills{
        font-size: 0.8em;
        margin :0px;
        padding-left:0px;
    }
    .codingskills img {
        margin-right: 0px;
    }
}
=======
.codingskills h1{
    top:10vh;
    color:white;
    position: relative;
    text-align: center;
    font-size: 2em;
    letter-spacing: 5px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin:0px;
}
.skills{
    height:100vh;
    background-image:linear-gradient(rgba(3, 3, 1, 0.8),rgba(0, 0, 150, 0.6));
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: center;  
    margin: 0px;
    box-sizing: border-box;
} 
.codingskills h2 {
    color:black;
    display:inline-block;
}
.codingskills img {
    width: 50px;
}
.codingskills legend{
    color:beige;
    font-size: 1em;

}
.programming{
    box-sizing: border-box;
    position: relative;
    top :20vh;
    justify-content: center;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    gap: 20px 20px;
}
.programming div{
    width:80%;
    padding: 15px;
    box-sizing: border-box;
    display: flex;
    background-image: linear-gradient(rgba(2,2,2,.5),rgba(0,0,0,.5));
    align-items: center;
    box-shadow: 5px 5px 10px black;
    border-radius: 0.7rem;
}
.programming div:hover{
    background-image: linear-gradient(rgba(2,2,2,.8),rgba(0,0,0,.7));
    border-bottom:1px solid  aquamarine;
    border-left:1px solid  yellow;
    border-right:1px solid  lightgreen;
    border-top:1px solid  red;
    animation-name: colours;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction:initial;
}
@keyframes colours {
    25%{border-bottom:1px solid  yellow;
        border-left:1px solid  lightgreen;
        border-right:1px solid  red;
        border-top:1px solid aquamarine;}
    75%{border-bottom:1px solid  red;
        border-left:1px solid  lightgreen;
        border-right:1px solid  aquamarine;
        border-top:1px solid yellow;}
    100%{border-bottom:1px solid yellow;
        border-left:1px solid  red;
        border-right:1px solid  aquamarine;
        border-top:1px solid  lightgreen;}
    
}
@media screen and (max-width:768px){
    .programming{
        grid-template-columns: 40% 40%;
        width:95%;
        padding:0px;
        height: auto;
        padding-left: 0px;
        justify-content: center;
    }
    .programming div{
        display: flex;
        flex-direction: column;
        width:100%;
    }
    .skills{
        font-size: 0.8em;
        margin :0px;
        height: auto;
        padding-bottom: 200px;
        padding-left:0px;
    }
}
>>>>>>> 37735aed0af34cb62df9688bdc4e0667309cea75
